@model Szemetszallitas.Models.Lakig

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lakig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="igeny" class="control-label"></label>
                <input asp-for="igeny" class="form-control" />
                <span asp-validation-for="igeny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Szolgid" class="control-label">Hulladék típusa</label>
                <!-- Legördülő lista a Szolgaltatasok típusainak megjelenítéséhez -->
                <select asp-for="Szolgid" class="form-control" asp-items="ViewBag.Szolgaltatasok"></select>

                <span asp-validation-for="Szolgid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mennyiseg" class="control-label"></label>
                <input asp-for="mennyiseg" class="form-control" />
                <span asp-validation-for="mennyiseg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
