@{
    ViewData["Title"] = "Zöldhulladék szállítások száma egy évben";
}
<div>
    <h2>@ViewData["Title"]</h2>
    <h3>

        Ennyiszer volt zöldhulladék szállítás:
        <span class="badge badge-primary"></span>@Model
    </h3>
</div>
